body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

#bg1 {
    position: relative;
    top: 0;
    left: 0;
}

#bg2 {
    position: relative;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
}

.packshot {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
}

.uppercase {
    text-transform: uppercase;
}

i {
    font-size: 20px;
    color: white;
}